.DS_Store
worms/worm zine PRODUCTION/9 x 15.5 back BROWN.jpg
worms/worm zine PRODUCTION/9 x 15.5 back COLOR.jpg
worms/worm zine PRODUCTION/Backside weird sizing kw v2.pdf
worms/worm zine PRODUCTION/color1 back.jpg
worms/worm zine PRODUCTION/color1 front.jpg
worms/worm zine PRODUCTION/color2 back.jpg
worms/worm zine PRODUCTION/color2 front.jpg
worms/worm zine PRODUCTION/July 23 PRINT READY.pdf
worms/worm zine/BACK INVERT.pdf
worms/worm zine/backside image invert.jpg
worms/worm zine/bleed.png
worms/worm zine/COLOR 1 back.pdf
worms/worm zine/COLOR 1 front.pdf
worms/worm zine/COLOR 2 back.pdf
worms/worm zine/COLOR 2 front.pdf
worms/worm zine/color1 back.pdf
worms/worm zine/color1 front.pdf
worms/worm zine/color2 back.pdf
worms/worm zine/color2 font.pdf
worms/worm zine/color2 front.pdf
worms/worm zine/FRONT.pdf
worms/worm zine/worm front-back.pdf
worms/worm zine/worminvertpinklayer.jpg
worms/worm zine/zinelayer backside.png
worms/wormchat.m4a
worms/worm zine/COLOR 1 back.pdf
worms/worm zine/COLOR 1 front.pdf
worms/worm zine/COLOR 2 back.pdf
worms/worm zine/COLOR 2 front.pdf
